body{
  margin:0px;
  width:100%;
}
header{
  font-family: 'Lobster';
  font-size: 80px;
  text-align:center;
}
h1{
  padding-bottom:0px;
  margin-bottom:0px;
  font-family: 'Montserrat', sans-serif;
}
p{
  margin-top:0px;
}
aside{
  width:710px;
  margin:auto;
  text-align:center;
}
table{
  width:700px;
  background-color:white;
  text-align:center;
}
tr{
  height:50px;
}
.week{
  width:100px;
  font-family:'메이플스토리';
  font-size:25px;
}
.cols{
  font-family:'rix오늘의만화';
  font-size:30px;
}
.subject{
  font-family:'rix오늘의만화';;
  font-style:normal;
  font-size:30px;
}
.num{
  font-size:20px;
  font-family: 'Titillium Web', sans-serif;
}
.even{
  background-color:#D5D5D5;
}
.nc{
  font-size:30px;
  background-color:#E8D9FF;
}
.numnc{
  background-color:#E8D9FF;
}

.lunch{
  background-color:#E8D9FF;
}
.morning{
  background-color:#5A7CC0;
}
a{
  color:black;
  text-decoration:none;
}
