header{
  width:1503px;
  background-color:#D4F4FA;
  text-align:center;
  margin:auto;
}
head{
  background-color:#D4F4FA;
}
body{
  background-color:#D4F4FA;
}
section{
  margin:auto;
  text-align:center;
}
.page{
  width:1503px;
  height:1000px;
  margin:auto;
  padding:auto;
}
.pagename{
  font-family: 'Dancing Script', cursive;
  font-size:80px;
  font-weight:bold;
  width:400px;
  padding-top:40px;
  padding-bottom:40px;
  text-align:center;
  margin-top:0px;
  margin-bottom:0px;
  margin:auto;
  float:none;
}
button{
  font-size:30px;
  font-family: 'Do Hyeon', sans-serif;
  width: 200px;
  height: 200px;
  border:0px azure;
  border-radius: 20%;
}
.class{
  margin:0px;
}
a{
  text-decoration:black;
  color:black;
  width:100px;
}
.image{
  width:120px;
  height:120px;
  border-radius: 70%;
}
.image1{
  width:120px;
  height:120px;
  border-radius: 10%;
  margin:0px;
  padding:0px;
}
.image3{
  width:120px;
  height:120px;
  border-radius: 10%;
  margin:0px;
  padding:0px;
}
video{
  width:120px;
  height:120px;
  border-radius: 70%;
  margin:0px;
  padding:0px;
}
.grade1{
  background-color:#FFFF36;
}
.grade2{
  background-color:#FF1212;
}
.grade3{
  background-color:#36FFFF;
}
