body{
  background-color:azure;
  margin:0px;
  width:100%;
}
header{
  width:100%;
  text-align:center;
  margin:auto;
}
.title{
  font-family: 'Dancing Script', cursive;
  font-size:90px;
  width:200px;
  padding-top:40px;
  padding-bottom:40px;
  text-align:center;
  margin-top:0px;
  margin-bottom:0px;
  margin:auto;
}
.bar{
  width:100%;
  height:10px;
  background-color:#212121;
}
section{
  text-align:center;
  width:100%;
  margin:auto;
  margin-top:30px;
}
a{
  text-decoration:black;
  color:black;
}
.grade{
  font-family: 'Dancing Script', cursive;
  background-color:#4C4C4C;
  font-size:50px;
  color:azure;
  width:200px;
  height:200px;
  line-height:200px;
  border-radius: 6%;
  text-align:center;
}
button{
  border:0px;
}
